* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input[type='text'] {
  display: flex;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

button[data-start] {
  display: flex;
  border: none;
  height: 44px;
  width: 200px;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  margin: 10px auto 50px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;

  background-color: blanchedalmond;
}

.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 30px;
  color: cornflowerblue;
}
